body {
  background-color: black;
  font-family: 'Gugi';
  color: white;
}

nav{
  background-color: black;
  /* position: fixed; */
  /* margin-top: -63px; */
}

p{
  color: white;
  margin-top: 120px;
  font-size: 21px;
}

#background{
  margin-top: 73px;
    margin-left: 63px;
}

.content1{
  color: black;
}

#username{
  color: white;
}
#email{
  color: white;
}
#password{
  color: white;
}
#passwordConfirmation{
  color: white;
}

.email{
  color: black;
}
.password{
  color: black;
}

#name_field{
color: white;
}

#year_field{
color: white;
}

#description_field{
color: white;
}

#url_field{
color: white;
}

#input_field{
  color: white;
}
