
<h2>Our History</h2>


<p>Sneakers. Here.

For over a decade,Kick Frame has changed the landscape of sneaker review/user sell and purchase. Carrying every brand name on the market,

Kick Frame has evolved from a one-stop sneaker destination, to a cultural hub for sneaker enthusiasts and novices alike.

With two brick-and-mortar locations housed in New York and London, Kick Frame remains as the premiere source for everything sneakers.

From Air Jordan to Nike to adidas and more, we have it all.</p>
