
<div class="row">
<ul>
  <% trainers.forEach(trainer => { %>
  <div class="col s6 m6">
    <div class="card">
      <div class="card-image">
        <img src="<%= trainer.url %>">
        <span class="card-title"><%= trainer.name %></span>
      </div>
      <div class="card-content">
      <a href="/trainers/<%= trainer.id %>"><button class="black btn">View Trainer</button></a>
        <p class='content1'><%= trainer.description %></p>
      </div>
    </div>
  </div>
<% }); %>
</ul>
</div>
