<h1>Index</h1>

<ul>
  <% trainers.forEach(trainer => { %>
    <li>
      <h2><%= trainer.name %></h2>
      <img src="<%= trainer.url %>" />
      <a href="/trainers/<%= trainer.id %>">View Trainer</a>
    </li>
  <% }); %>
</ul>
