

<form class="col l12" action="/trainers" method="post">
  <div class="input-field col l12">
    <input type="text" name="name" id="name_field">
    <label for="name-field">Name</label>
  </div>
  <div class="input-field col l12">
    <input type="number" name="year" id="year_field" required>
    <label for="year_field">Year</label>
  </div>
  <div class="input-field col l12">
    <input type="text" name="description" id="description_field" required>
    <label for="description_field">Description</label>
  </div>
  <div class="input-field col l12">
    <input type="text" name="url" id="url_field" required>
    <label for="url_field">Url</label>
  </div>
  <div class="input-field col l12">
    <button class="green btn">Upload</button>
  </div>
</form>
