<h1>show</h1>

<h2><%= trainer.name %></h2>
<img src="<%= trainer.url %>" />

<a href="/trainers/<%= trainer.id %>/edit">Edit Trainer</a>
<%# //this is probable wrong i wasnt sure if i was meant
//to creat a page for update or whether it should appear
//in show
// also the link /trainers wont it take me back to the %>
<a href="/trainers/<%= trainer.id %>/update">update Trainer</a>
